<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>18thjan</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
 <context-param> 
    <param-name>Driver</param-name> 
    <param-value>
         com.mysql.jdbc.Driver
     </param-value> 
</context-param>
 <context-param> 
    <param-name>Url</param-name> 
    <param-value>
         jdbc:mysql://localhost/criminal
     </param-value> 
</context-param>
 <context-param> 
    <param-name>User</param-name> 
    <param-value>
         root
     </param-value> 
</context-param>
 <context-param> 
    <param-name>Password</param-name> 
    <param-value>
        password
     </param-value> 
</context-param>

<env-entry> 
    <env-entry-name>Driver</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value> com.mysql.jdbc.Driver</env-entry-value> 
</env-entry>
<env-entry> 
    <env-entry-name>Url</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value> jdbc:mysql://localhost/criminal</env-entry-value> 
</env-entry>
<env-entry> 
    <env-entry-name>User</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>root</env-entry-value> 
</env-entry>
<env-entry> 
    <env-entry-name>Password</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>password</env-entry-value> 
</env-entry>


</web-app>